<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Узнайте, насколько доступен ваш сайт на самом деле</title>
     <link rel="stylesheet" href="{% static 'cheker/styles.css' %}">
</head>

<body>

    <header>
        <h1>Проверьте, действительно ли доступен ваш сайт незрячим людям</h1>
    </header>

    <main>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" >Проверить</button>
        </form>

<!--        {% if errors %}-->
        <h2>Результаты проверки</h2>
        {% if score is not None %}
        <p class="score">
            Доступность сайта: {{ score }}%
        </p>
        <p class="summary">
            {{ summary }}
        </p>
        {% endif %}
<!--            <ul>-->
<!--            {% for error in errors %}-->
<!--                <li>{{ error.message }}</li>-->
<!--            {% endfor %}-->
<!--                -->
<!--        </ul>-->
        <h3>Основные рекомендации</h3>
        <ul>
            {% for error in errors|slice:":5" %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        {% if fixed_site %}
        <h2>Исправленная разметка сайта</h2>

        <pre>{{ fixed_site }}</pre>
    {% endif %}
    </main>

</body>
</html>